apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "komodorAgent.name" . }}-config
data:
  komodor-k8s-watcher.yaml: |
    {{ toYaml .Values.communications | trim | nindent 4 }}
    clusterName: {{ .Values.clusterName | required "clusterName is a required value!" }}
    chartVersion: {{ .Chart.Version | quote }}
    enableAgentTaskExecution: true
    enableAgentTaskExecutionV2: true
    allowReadingPodLogs: {{ .Values.capabilities.logs.enabled}}
    enableHelm: {{ .Values.capabilities.helm }}
    daemon:
      enabled: {{ .Values.capabilities.metrics }}
    collectHistory: true
    watchNamespace: {{ .Values.capabilities.events.watchNamespace }}
    namespacesDenylist: {{ toYaml .Values.capabilities.events.namespacesDenylist | trim | nindent 6 }}
    logsNamespacesDenylist: {{ toYaml .Values.capabilities.logs.logsNamespacesDenylist | trim | nindent 6  }}
    logsNamespacesAllowlist: {{ toYaml .Values.capabilities.logs.logsNamespacesAllowlist | trim | nindent 6 }}
    nameDenylist: {{ toYaml .Values.capabilities.logs.nameDenylist | trim | nindent 6 }}
    redact: {{ toYaml .Values.capabilities.events.redact | trim | nindent 6 }}
    redactLogs: {{ toYaml .Values.capabilities.logs.redact | trim | nindent 6 }}
    actions:
      basic: {{ .Values.capabilities.actions }}
      advanced: {{ .Values.capabilities.actions }}
      podExec: {{ .Values.capabilities.actions }}
      portforward: {{ .Values.capabilities.actions }}
    telemetry:
      enable: {{ .Values.capabilities.telemetry.enabled }}
      collectApiServerMetrics: {{ .Values.capabilities.telemetry.collectApiServerMetrics }}
      serverHost: {{ .Values.communications.telemetryServerHost }}
    networkMapper:
      enable: {{ .Values.capabilities.networkMapper }}
    resync:
      period: "0"

    resources:
      {{- toYaml .Values.allowedResources | trim | nindent 6 }}

  installed-values.yaml: |
    {{ toYaml .Values | nindent 4 }}