apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "komodorAgent.fullname" . }}
  labels:
    {{- include "komodorAgent.labels" . | nindent 4 }}
    {{- include "komodorAgent.user.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.components.komodorAgent.annotations | nindent 4 }}
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      {{- include "komodorAgent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- if not (empty (((.Values.components).komodorAgent).podAnnotations)) }}
        {{- toYaml .Values.components.komodorAgent.podAnnotations | trim | nindent 8 }}
        {{- end }}
      labels:
        {{- include "komodorAgent.selectorLabels" . | nindent 8 }}
        {{- include "komodorAgent.user.labels" . | nindent 8 }}
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
      priorityClassName: {{ .Release.Name }}-agent-high-priority
      serviceAccountName: {{ include "komodorAgent.serviceAccountName" . }}
      affinity:
        {{- toYaml .Values.components.komodorAgent.affinity | nindent 8 }}
      nodeSelector:
        "kubernetes.io/os": "linux"
        {{- if not (empty (((.Values.components).komodorAgent).nodeSelector)) }}
        {{- toYaml .Values.components.komodorAgent.nodeSelector | nindent 8 }}
        {{- end }}
      tolerations:
        {{- toYaml .Values.components.komodorAgent.tolerations | nindent 8 }}

      initContainers:
        {{- include "ca-init.container" .                   | trim | nindent 8 }}

      containers:
        {{- include "network_mapper.container" .            | trim | nindent 8 }}
        {{- include "watcher.container" .                   | trim | nindent 8 }}
        {{- include "supervisor.container" .                | trim | nindent 8 }}

      volumes:
        {{- include "agent.deploy.volumes" .                | trim | nindent 8 }}
        {{- include "custom-ca.volume" .                    | trim | nindent 8 }}
        {{- include "custom-ca.trusted-volume" .            | trim | nindent 8 }}