apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: komodor
commonLabels:
  app.kubernetes.io/instance: k8s-watcher
  app.kubernetes.io/name: k8s-watcher
  app.kubernetes.io/watcher-version: 0.1.131
resources:
- clusterrole.yaml
- deployment.yaml
- serviceaccount.yaml
- resourcequota.yaml
images:
- name: komodorio/k8s-watcher
  newName: komodorio/k8s-watcher
  newTag: 0.1.131
configMapGenerator:
- behavior: create
  files:
  - komodor-k8s-watcher.yaml
  name: k8s-watcher-config
- behavior: merge
  envs:
  - config.env
  name: k8s-watcher-config
secretGenerator:
- behavior: create
  envs:
  - secret.env
  name: k8s-watcher-secret
