{{- if (or (and (.Values.metrics).enabled .Values.daemon) (and (.Values.watcher.networkMapper).enable .Values.daemon)) }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "k8s-watcher.fullname" . }}-daemon
  {{- if hasKey .Values "namespace" }}
  namespace: {{ .Values.namespace }}
  {{- end }}
  labels:
    {{- include "daemon.labels" . | nindent 4 }}
  {{- with .Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "daemon.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "daemon.selectorLabels" . | nindent 8 }}
    spec:
      priorityClassName: "{{ .Release.Name }}-daemon-high-priority"
      serviceAccountName: {{ include "k8s-watcher.serviceAccountName" . }}
      {{- if .Values.metrics.enabled }}
      initContainers:
        {{- include "metrics.init" . | indent 8 }}
      {{- end }}
{{- include "k8s-watcher.proxy-conf" . }}
      containers:
        {{- include "metrics.daemonset.container" .        | indent 8 }}
        {{- include "network_mapper.daemonset.container" . | indent 8 }}
      {{- with .Values.daemon.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "network_mapper.daemonset.network" .   | nindent 6 }}
      volumes:
        {{- include "metrics.daemonset.volumes" .        | nindent 8 }}
        {{- include "network_mapper.daemonset.volumes" . | nindent 8 }}
{{- end }}
