clusterName: komodor-staging-eks
imagePullSecret: docker-cfg-komodorio

communications:
  serverHost: https://staging.app.komodor.com
  tasksV1ServerHost: https://staging.app.komodor.com
  tasksServerHost: https://staging.app.komodor.com
  wsHost: wss://staging.app.komodor.com
  telemetryServerHost: https://staging.telemetry.komodor.com
  mgmtServerHost: https://staging.app.komodor.com

capabilities:
  telemetry:
    enable: false
    serverHost: https://staging.telemetry.komodor.com
  event:
    redact: "{.*KEY.*,.*key.*,.*BUGSNAG.*}"

allowedResources:
  secret: true
