{{- define "metrics.init" }}
{{- if ne (.Values.metrics).enabled false }}
- name: init-daemon
  image: '{{ (((.Values.daemon).init).image).repository | default "public.ecr.aws/komodor-public/init-daemon-agent" }}:{{ .Values.image.tag | default .Chart.AppVersion }}'
  imagePullPolicy: {{ (((.Values.daemon).init).image).pullPolicy | default "IfNotPresent" }}
  {{- if and .Values.customCa (ne (.Values.customCa).enabled false) }}
  command:
    - /bin/sh
    - -c
    - cp /certs/* /etc/ssl/certs/ && 
      update-ca-certificates --fresh &&
      ./daemon
  {{- end }}
  volumeMounts:
  - name: configuration
    mountPath: /etc/komodor
  {{- include "custom-ca.volumeMounts" . | nindent 2 }}
  resources:
  {{- if empty ((.Values.daemon).init).resources }}
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 128Mi
  {{- else }}
  {{- toYaml .Values.daemon.init.resources | nindent 4 }}
  {{- end }}
  env:
  {{- if hasKey .Values "namespace" }}
  - name: NAMESPACE
    value: {{ .Values.namespace }}
  {{- end }}
  - name: KOMOKW_API_KEY
    valueFrom:
      secretKeyRef:
        {{- if .Values.existingSecret }}
        name: {{ .Values.existingSecret | required "Existing secret name required!" }}
        key: apiKey
        {{- else }}
        name: {{ include "k8s-watcher.name" . }}-secret
        key: apiKey
        {{- end }}
{{- end }}
{{- end }}