{{- define "network_mapper.daemonset.container" }}
{{- if and .Values.network_mapper ((.Values.network_mapper).enabled | default false) }}
- name: {{ template "otterize.sniffer.fullName" . }}
  image: "{{ .Values.network_mapper.sniffer.repository }}/{{ .Values.network_mapper.sniffer.image }}:{{ .Values.network_mapper.sniffer.tag }}"
  {{ if .Values.network_mapper.sniffer.pullPolicy }}
  imagePullPolicy: {{ .Values.network_mapper.sniffer.pullPolicy }}
  {{ end }}
  resources:
    {{- toYaml .Values.network_mapper.sniffer.resources | nindent 10 }}
  env:
    - name: OTTERIZE_MAPPER_API_URL
      value: http://{{ template "otterize.mapper.fullName" . }}:9090/query
    - name: OTTERIZE_DEBUG
      value: {{ .Values.debug | quote }}
  volumeMounts:
    - mountPath: /hostproc
      name: proc
      readOnly: true
{{- end }}
{{- end }}

{{- define "network_mapper.daemonset.network" }}
{{- if and .Values.network_mapper (.Values.network_mapper.enabled | default false) }}
hostNetwork: true
dnsPolicy: ClusterFirstWithHostNet
{{- end }}
{{- end }}

{{- define "network_mapper.daemonset.volumes" }}
{{- if and .Values.network_mapper (.Values.network_mapper.enabled | default false) }}
- hostPath:
    path: /proc
    type: ""
  name: proc
{{- end }}
{{- end }}