{{- define "network_mapper.deployment.container" }}
{{- if (.Values.watcher.networkMapper).enable | default false }}
- name: {{ template "network.mapper.fullName" . }}
  image: '{{ ((.Values.network_mapper).mapper).repository | default "public.ecr.aws/komodor-public" }}/{{ ((.Values.network_mapper).mapper).image | default "network-mapper" }}:{{ ((.Values.network_mapper).mapper).tag | default "v0.1.27" }}'
  imagePullPolicy: {{ ((.Values.network_mapper).mapper).pullPolicy | default "IfNotPresent" }}
  resources:
    {{- toYaml ((.Values.network_mapper).mapper).resources | nindent 4 }}
  env:
  - name: OTTERIZE_DEBUG
    value: {{ (.Values.network_mapper).debug | default "false" | quote }}
  {{ if (((.Values.network_mapper).global).otterizeCloud).apiAddress }}
  - name: OTTERIZE_API_ADDRESS
    value: "{{ .Values.network_mapper.global.otterizeCloud.apiAddress }}"
  {{ end }}
  {{ if ((((.Values.network_mapper).global).otterizeCloud).credentials).clientId }}
  - name: OTTERIZE_CLIENT_ID
    value: "{{ .Values.network_mapper.global.otterizeCloud.credentials.clientId }}"
  {{ end }}
  {{ if ((((.Values.network_mapper).global).otterizeCloud).credentials).clientSecret }}
  - name: OTTERIZE_CLIENT_SECRET
    value: "{{ .Values.network_mapper.global.otterizeCloud.credentials.clientSecret }}"
  {{ end }}
  - name: OTTERIZE_UPLOAD_INTERVAL_SECONDS
    value: {{ ((.Values.network_mapper).mapper).uploadIntervalSeconds | default "60" | quote }}
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - "ALL"
{{- end}}
{{- end}}