{{- if (.Values.watcher.networkMapper).enable | default true }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "network.mapper.fullName" . }}-{{ .Release.Namespace }}
  {{- if hasKey .Values "namespace" }}
  namespace: {{ .Values.namespace }}
  {{- end }}
rules:
  - apiGroups:
      - ''
    resources:
      - 'configmaps'
    resourceNames:
      - {{ template "network.mapper.configMapName" . }}
    verbs:
      - 'get'
      - 'update'
{{- end }}