{{- if (.Values.watcher.networkMapper).enable | default false }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "network.mapper.fullName" . }}
  {{- if hasKey .Values "namespace" }}
  namespace: {{ .Values.namespace }}
  {{- end }}
spec:
  selector:
    {{- include "k8s-watcher.selectorLabels" . | nindent 4 }}
  ports:
    - protocol: TCP
      port: 9090
      name: http
      targetPort: 9090
{{- end }}