{{- if ne (.Values.watcher.networkMapper).enable false }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "network.mapper.fullName" . }}
spec:
  selector:
    {{- include "k8s-watcher.selectorLabels" . | nindent 4 }}
  ports:
    - protocol: TCP
      port: 9090
      name: http
      targetPort: 9090
{{- end }}