{{- if .Values.capabilities.admissionController.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "komodorAgent.admissionController.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "komodorAgent.admissionController.labels" . | nindent 4 }}
data:
  komodor.yaml: |
    chartVersion: {{ .Chart.Version | quote }}
    clusterName: {{ .Values.clusterName | required "clusterName is a required value!" }}
    {{ if .Values.proxy.http }}
    proxyUrl: {{ .Values.proxy.http }}
    {{ else if .Values.proxy.https }}
    proxyUrl: {{ .Values.proxy.https }}
    {{ end }}
    admissionServer:
      port: {{ .Values.capabilities.admissionController.webhookServer.port }}
      tlsCertFile: {{ .Values.capabilities.admissionController.webhookServer.tlsCertFile | default "/etc/komodor/admission/tls/tls.crt" }}
      tlsKeyFile: {{ .Values.capabilities.admissionController.webhookServer.tlsKeyFile | default "/etc/komodor/admission/tls/tls.key" }}
    logger:
      logLevel: {{ .Values.capabilities.admissionController.logLevel }}
      format: {{ .Values.capabilities.admissionController.logFormat }}
    binpacking:
      markUnevictable: {{ .Values.capabilities.admissionController.binpacking.markUnevictable }}
      addNodeAffinityToMarkedPods: {{ .Values.capabilities.admissionController.binpacking.addNodeAffinityToMarkedPods }}
      {{- if .Values.capabilities.admissionController.binpacking.unevictableLabelKey }}
      unevictableLabelKey: {{ .Values.capabilities.admissionController.binpacking.unevictableLabelKey }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.binpacking.modifiedAnnotationKey }}
      modifiedAnnotationKey: {{ .Values.capabilities.admissionController.binpacking.modifiedAnnotationKey }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.binpacking.unevictablePodNodeAffinityWeight }}
      unevictablePodNodeAffinityWeight: {{ .Values.capabilities.admissionController.binpacking.unevictablePodNodeAffinityWeight }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.binpacking.ignoredNamespaces }}
      ignoredNamespaces:
      {{- toYaml .Values.capabilities.admissionController.binpacking.ignoredNamespaces | nindent 8 }}
      {{- end }}
    rightsizing:
      enabled: {{ .Values.capabilities.admissionController.rightsizing.enabled }}
      {{- if .Values.capabilities.admissionController.rightsizing.recommendationsSyncInterval }}
      recommendationsSyncInterval: {{ .Values.capabilities.admissionController.rightsizing.recommendationsSyncInterval }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.rightsizing.ignoreRecommendationsAnnotationKey }}
      ignoreRecommendationsAnnotationKey: {{ .Values.capabilities.admissionController.rightsizing.ignoreRecommendationsAnnotationKey }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.rightsizing.originalResourcesAnnotationKey }}
      originalResourcesAnnotationKey: {{ .Values.capabilities.admissionController.rightsizing.originalResourcesAnnotationKey }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.rightsizing.modifiedAnnotationKey }}
      modifiedAnnotationKey: {{ .Values.capabilities.admissionController.rightsizing.modifiedAnnotationKey }}
      {{- end }}
      {{- if .Values.capabilities.admissionController.rightsizing.mutatedAnnotationKey }}
      mutatedAnnotationKey: {{ .Values.capabilities.admissionController.rightsizing.mutatedAnnotationKey }}
      {{- end }}
{{- end }}
