{{- if .Values.capabilities.admissionController.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "komodorAgent.admissionController.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "komodorAgent.admissionController.labels" . | nindent 4 }}
  annotations:
    {{ toYaml .Values.components.admissionController.annotations | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "komodorAgent.admissionController.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "komodorAgent.admissionController.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/admission-controller/configmap.yaml") . | sha256sum }}
        checksum/certs-webhook: {{ include (print $.Template.BasePath "/admission-controller/webhookconfiguration.yaml") . | sha256sum }}
        {{- if not (empty (((.Values.components).admissionController).podAnnotations)) }}
        {{- toYaml .Values.components.admissionController.podAnnotations | trim | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.components.admissionController.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      priorityClassName: {{ .Values.components.admissionController.priorityClassName | default (include "komodorAgent.admissionController.priorityClassName" .) }}
      serviceAccountName: {{ include "komodorAgent.admissionController.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.components.admissionController.securityContext | nindent 8 }}
      containers:
        - name: {{ include "komodorAgent.admissionController.containername" . }}
          securityContext:
            {{- toYaml .Values.components.admissionController.securityContext | nindent 12 }}
          image: {{ .Values.imageRepo }}/{{ .Values.components.admissionController.image.name }}:{{ .Values.components.admissionController.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          ports:
            - name: https
              containerPort: {{ include "komodorAgent.admissionController.servicePort" . }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
          readinessProbe:
            httpGet:
              path: /healthz
              port: https
              scheme: HTTPS
          resources:
            {{- toYaml .Values.components.admissionController.resources | nindent 12 }}
          env:
            - name: KOMO_API_KEY
              {{- include "komodorAgent.apiKeySecretRef" . | nindent 14 }}
            - name: GOMEMLIMIT
              value: {{ .Values.components.admissionController.resources.limits.memory | replace "Ki" "KiB" | replace "Mi" "MiB" | replace "Gi" "GiB" | replace "Ti" "TiB" | quote }}
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: KOMO_LEADER_ELECTION__LEASE_NAME
              value: {{ .Values.components.admissionController.leaderElectionLeaseName | default .Release.Name | quote }}
          {{- with .Values.components.admissionController.extraEnvVars }}
          {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: webhook-tls
              mountPath: /etc/komodor/admission/tls
              readOnly: true
            - name: configuration
              mountPath: /etc/komodor
              readOnly: true
      volumes:
        - name: webhook-tls
          secret:
            secretName: {{ include "komodorAgent.admissionController.serviceName" . }}-tls
        - name: configuration
          configMap:
            name: {{ include "komodorAgent.admissionController.fullname" . }}
            defaultMode: 420
      {{- with .Values.components.admissionController.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      affinity:
        {{- with .Values.components.admissionController.affinity.nodeAffinity }}
        nodeAffinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.components.admissionController.affinity.podAffinity }}
        podAffinity:
          {{- toYaml . | nindent 10 }}
        {{- end }}
        {{- if empty .Values.components.admissionController.affinity.podAntiAffinity }}
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "komodorAgent.admissionController.selectorLabels" . | nindent 18 }}
              topologyKey: kubernetes.io/hostname
        {{- else }}
        podAntiAffinity:
          {{- toYaml .Values.components.admissionController.affinity.podAntiAffinity | nindent 10 }}
        {{- end }}
      {{- with .Values.components.admissionController.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
