{{- if and .Values.capabilities.admissionController.enabled .Values.createRbac -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "komodorAgent.admissionController.serviceAccountName" . }}
rules:
  # Required for Binpacking:
  - apiGroups:
      - ""
    resources:
      - nodes
      - pods
    verbs:
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
      - nodes
      - persistentvolumeclaims
      - persistentvolumes
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - get
      - watch
      - list
  # Required for Rightsizing: (in addition to patch pods)
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - daemonsets
      - replicasets
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
      - watch
      - list
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs:
      - get
      - watch
      - list
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - watch
  - apiGroups:
      - "*"
    resources:
      - "*"
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods/resize
    verbs:
      - patch
  - apiGroups:
      - keda.sh
    resources:
      - scaledobjects
    verbs:
      - get
      - watch
      - list
      - patch
  # leader election
  - apiGroups:
    - coordination.k8s.io
    resources:
      - leases
    verbs:
    - get
    - create
    - update
    

  # Required for Admission Controller in-place mutation:
  - nonResourceURLs:
    - "/version"
    - "/metrics"
    verbs:
      - get

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "komodorAgent.admissionController.serviceAccountName" . }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "komodorAgent.admissionController.serviceAccountName" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "komodorAgent.admissionController.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }} 
