{{- if and .Values.capabilities.telemetry.enabled .Values.capabilities.telemetry.deployOtelCollector }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "komodorAgent.openTelemetry.serviceName" . }}
  labels:
    {{- include "komodorAgent.labels" . | nindent 4 }}
    {{- with .Values.components.komodorDaemon.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
  - name: otlp-http
    port: 4318
    targetPort: 4318
    protocol: TCP
  - name: otel-prom
    port: 8888
    targetPort: 8888
    protocol: TCP
  - name: local-prom
    port: 9090
    targetPort: 9090
    protocol: TCP
  selector:
    {{- include "komodorAgentDaemon.selectorLabels" . | nindent 4 }}
{{- end }} 